/* Opt-in to view transitions */
@view-transition {
  navigation: auto;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

main {
  width: max-content;
  max-width: 600px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 24px;
}